@model PriceTierPartViewModel

<h3>Price variants</h3>

<h3>Price variants</h3>

<div class="row">
    @foreach (var variantKey in Model.TierValues.Keys)
    {
        <div class="col-md-3">
            <div class="mb-3" asp-validation-class-for="TierValues[variantKey]">
                <label asp-for="TierValues[variantKey]">@T["Amount"] @T["Price"] </label>
                <div class="input-group">
                    <input asp-for="TierAmounts[variantKey]" class="form-control text-muted tier-amount-price-value" />
                    <input asp-for="TierValues[variantKey]" class="form-control text-muted tier-price-value" />                    
                    <div class="input-group-append">
                        <select asp-for="TierCurrencies[variantKey]"
                                class="form-select"
                                asp-items="@(new SelectList(Model.Currencies, "CurrencyIsoCode", "CurrencyIsoCode"))"></select>
                    </div>
                </div>


                <span asp-validation-for="TierValues[variantKey]"></span>
            </div>
        </div>
    }
</div>
